name: main_pr

on:
    pull_request:
        branches: ['main']

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup Go
              uses: actions/setup-go@v6
              with:
                go-version-file: 'go.mod'
                cache: true

            - name: Set up golangci-lint
              uses: golangci/golangci-lint-action@v9
              with:
                version: v2.6

            - name: Run lints
              run: make lint

            - name: Run tests
              run: make test